<footer class="py-3 bg-dark">
    <div class="container">
        <!-- <i class="fa fa-copyright" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i> -->
       <div class="icon">
       
       
    </div>
    <div class="icon">
        <p class="m-0 text-center text-white">
            
            <fa-icon style="font-size: 15px" [icon]="faFacebook" ></fa-icon> 
            <fa-icon style="font-size: 15px" [icon]="faInstagram" ></fa-icon>  
       
            Copyright  Athira@2023
        </p>
    </div> 

    </div>
    </footer> 
       
