<div class="h1">

    <h1><u> CONTACT </u></h1>
   <div class="h5">
     <h5>Have a question or Want to work together</h5>
   </div>
</div>
<div class="form">
   <form>
    
    <div class="form-group">
      <input type="text" placeholder="Name"><br><br><br>

      <input type="email" placeholder="Enter email" ><br><br><br>

      <textarea id="ta" placeholder="Your Message" rows="
      6" cols="23" name="message">Your Message </textarea><br> <br>
    
      <button type="button" class="btn">Submit</button>
    </div>

   
    </form>
</div>
<br><br><br><br><br><br>



